html{
    height: 100%;
}




body{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #18167a;
    overflow: hidden;
    
}

#bgGradient{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #18167a; /* Old browsers */
    background:  linear-gradient(to bottom, #18167a 0%,#e492f7 100%);
    
}

#bgParallax{
    position: fixed;
    margin: 0;
    top:60%;
    height: 100%;
    width: 100%;    
    background-image: url("../images/bg1.png");
    background-repeat: repeat-x;
}


#parallaxContainer{
    position: absolute;
    top:30%; 
    height: 60% !important;
    width: 100%; 
    perspective: 1000px;
}

.floor{
    position: absolute;
    width: 80%;
    left:10%;
    height: 120%;
    top:40%;
    background:  url("../images/floor.png");
    transform: rotateX(90deg) rotateY(0deg);
}

.gradientfloor{
    position: absolute;
    width: 60%;
    left:20%;
    height: 100%;
    top:47%;
    background:  url("../images/gradient.png");
    background-repeat: repeat-x;
    transform: rotateX(90deg) rotateY(0deg);
}

.sideLeft{
    position: absolute;
    width: 40%;
    height: 120%;
    top:39%;
    left:-20%;
    background:  url("../images/grasstile.png");
    transform: rotateX(90deg) rotateY(0deg);   
    border-radius: 80% 0% 0% 0%;
}

.grassrim{
    position: absolute;
    width: 5%;
    height: 120%;
    top:35%;
    left:17%;
    background:  url("../images/grassrim.png");
    background-repeat: repeat-y;
    transform: rotateX(90deg) rotateY(-90deg); 
    border-radius: 0% 100% 0% 0%;
}

.grassrim2{
    position: absolute;
    width: 3%;
    height: 120%;
    top:40%;
    left:19%;
    background:  url("../images/grassrim.png");
    background-repeat: repeat-y;
    transform: rotateX(90deg) rotateY(0deg); 
    
}

.grassRrim{
    position: absolute;
    width: 5%;
    height: 120%;
    top:35%;
    right:16%;
    background:  url("../images/grassrim.png");
    background-repeat: repeat-y;
    transform: rotateX(90deg) rotateY(-90deg); 
    border-radius: 0% 100% 0% 0%;
}

.grassRrim2{
    position: absolute;
    width: 3%;
    height: 120%;
    top:40%;
    right:19%;
    background:  url("../images/grassrim.png");
    background-repeat: repeat-y;
    transform: rotateX(90deg) rotateY(0deg) scaleX(-1); 
}

.sideRight{
    position: absolute;
    width: 40%;
    height: 120%;
    top:39%;
    right:-20%;
    background:  url("../images/grasstile.png");
    transform: rotateX(90deg) rotateY(0deg); 
    border-radius: 0% 80% 0% 0%;
}

#logo{
    position: fixed;
    width: 100%;
    
}

.logoTour{
    padding: 3vw;
    width: 100%;
    max-width: 900px !important;
}

.object-left{
    
    background-image: url("../images/tower-left.png");
    transform: scale(1.5);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 25%;
    left: -15%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.yogo-left{
    
    background-image: url("../images/nao.png");
    position: absolute;
    height: 100%;
    width: 100%;
    left: 30%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.object-right{
    
    background-image: url("../images/tower-right.png");
    transform: scale(1.5);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 25%;
    right: -15%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.yogo-right{
    
    background-image: url("../images/estrella.png");
    position: absolute;
    height: 100%;
    width: 100%;
    right: 30%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.object-center{
    width: 100%;
    text-align: center;
    height: 50%;
    top: 5%;
}

.container{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left:0%;
    margin:0% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuBtn {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    display:inline-block;
    position: relative;
    cursor:pointer;
    width: 130%;
    height: 22%;
    right: 15%;
    text-align: center;
}



